*,
::after,
::before {
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

:root{
    /* colors */
    --primary-100: #5e676f;
    --primary-200: #424c55;
    --primary-300: #384148;
    --primary-400: #2e353b;
    --primary-500: #242a2f;
    --primary-600: #171b1e;
    --primary-700: #0a0b0d;
    --primary-800: #070808;
    --primary-900: #030404;
    --primary-1000: #000000;

    /* grey */

    --grey-100: #fdfdfd;
    --grey-200: #fcfbfa;
    --grey-300: #faf8f8;
    --grey-400: #f9f6f5;
    --grey-500: #f7f4f3;
    --grey-600: #c6c3c2;
    --grey-700: #949292;
    --grey-800: #636261;
    --grey-900: #313131;
    --grey-1000: #3e3d3d;

    /* accent colors */
    --accent-dark: #f5c815;
    --accent-light: #facf21;

    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    --headingFont: 'karla', serif;
    --bodyFont:'Inconsolata', serif;
    --bodyFont-weight: 600;
    --smallText: 0.9em;

    /* rest variables */
    --background-color: var(--grey-100);
    --heading-color: var(--primary-700);
    --smallText-color: var(--primary-00);
    --border-radius: 0.25rem;
    --letter-spacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;

     /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    background: var(--background-color);
    font-family: var(--bodyFont);
    font-weight: var(--bodyFont-weight);
    line-height: 1.75;
    color: var(--heading-color);
}

p{
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 900;
    line-height: 1.3;
    text-transform: capitalize;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
    color: var(--smallText-color);
}

ul {
   list-style-type: none;
   padding: 0; 
}

/* .container{
    width: 50vw;
    border: 5px solid var(--accent-dark);
    border-radius: var(--border-radius);
} */

.img{
    width: 100%;
    object-fit: cover;
    display: block;
}

span{
    color: var(--accent-dark);
}

/* butttons */
.btn {
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: var(--bodyFont-weight);
    color: var(--primary-600);
    background-color: var(--accent-light);
    border: var(--accent-dark) solid 2px;
    border-radius: 100px;
    padding: 0.75rem 2rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
}

.btn:hover {
    background: var(--accent-dark);
    box-shadow: var(--shadow-3);
    transform: translateY(-3px);
}

.btn-secondary {
    background: var(--grey-500);
    border: var(--grey-500) solid 2px;
}
.btn-secondary:hover {
    border: var(--accent-dark) solid 2px;
}

.btn-teritiary{
    background: var(--grey-500);
    border: var(--accent-dark) solid 1px;
}
.btn-block {
    width: 100%;
}
/* alerts */

.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--border-radius);
}

.alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
}

.alert-success {
    color: var(--green-dark);
    background: var(--green-light);
}

/* forms */

.form {
    width: 90vw;
    max-width: var(--fixed-width);
    background: var(--grey-500);
    box-shadow: var(--shadow-4);
    border-radius: var(--border-radius);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}

.form-label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
}

.form-input,
.form-textarea{
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--border-radius);
    background-color: var(--grey-100);
    border: 1px solid var(--grey-600);
    font-weight: var(--bodyFont-weight);
}
.form-row{
    margin: 1rem;
}

.form-textarea {
    height: 6rem;
}

::placeholder {
    font-family: inherit;
    color: var(--grey-700);
}

.form-alert {
    color: var(--red-dark);
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    padding-left: 1rem;
}

.form h4 {
   text-align: center;
   margin-bottom: 0.5rem;
}

.under-line{
    border: 1.5px solid var(--accent-dark);
    width: 20%;
    margin: 0 auto;
}

/* loading */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-600);
    border-radius: 50%;
    border-top-color: var(--accent-dark);
    animation: spinner 0.6s linear infinite;
}

.loading {
    margin: 0 auto;
}

.container2{
    max-width: 1220px;
    margin-inline: 5.5rem;
}



/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--grey-400);
    box-shadow: var(--shadow-1);
    z-index: 100;
 
}
.nav{
    height: 3.5rem; 
}
.nav-logo,
.nav-burger,
.nav-close{
    color: var(--heading-color);
}

.nav-data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-data h3{
    margin-bottom: 0;
}
.nav-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-left: 0;
}
.nav-logo i{
    font-weight: initial;
    font-size: 2.25rem;
}
.nav-toggle{
    position: relative;
    width: 32px;
    height: 32px;
}
.nav-burger,
.nav-close{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
.nav-close{
    opacity: 0;
}


/* Navigation for mobile devices*/

@media screen and (max-width: 1118px) {
    .nav-menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh- 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;

    }
    .nav-menu::-webkit-scrollbar{
        width: 0;
    }
    .nav-list{
        background-color: var(--grey-400);
        padding: 1rem;
    }
}

.nav-link{
    color: var(--heading-color);
    background-color: var(--grey-400) ;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav-link:hover{
    background-color: var(--grey-600);
}

.show-menu{
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* show icon */
.show-icon .nav-burger{
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav-close{
    opacity: 1;
    transform: rotate(90des);
}

/* drop down */
.dropdown-item {
    cursor: pointer;
}

.dropdown-arrow{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s ;
}

.dropdown-link{
    padding: 1rem 1rem 1rem 2rem;
    background-color: var(--grey-500);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: background-color .3s;
}
.dropdown-link:hover{
    background-color: var(--grey-600);
}

.dropdown-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/* show dropdown menu $ submenu*/

.dropdown-item:hover .dropdown-menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* rotate dropdown icon */
.dropdown-item:hover .dropdown-arrow{
    transform: rotate(180deg);
}

/* breakpoints */
/* for small devices */
@media screen and (max-width: 340px) {
    .container2{
        margin-inline: 1rem;
    }

    .nav-link{
        padding-inline: 1rem;
    }
    
}

/* for large devices */
@media screen and (min-width: 1118px) {
    .container2{
        margin-inline: auto;
    }
    
    .nav{
        height: calc(3.5rem + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav-toggle{
        display: none;
    }

    .nav-list{
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav-link{
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav-link:hover{
        background-color: transparent;
    }

    .dropdown-item, .dropdown_subitem{
        position: relative;
    }

    .dropdown-menu,
    .dropdown-submenu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown-link,
    .dropdown-sublink{
        padding-inline: 1rem 3.5rem;
    }

    .dropdown_subitem .dropdown-link{
        padding-inline: 1rem;
    }

    .dropdown-submenu{
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    /* show dropdown menu */
    .dropdown-item:hover .dropdown-menu{
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }
    .nav-list li{
        bottom: 1rem;
        position: relative;
    }
    .nav-home{
        position: relative;
        padding-top: 0;
    }
    .nav-link:hover{
        color: var(--accent-dark);
    }

}

/* ========MAIN======= */


.container{  
    width: 100%;
    border: 0;
}
img{
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
}
.container h1{
    position: absolute;
    top: 15rem;
    left: 4rem;
    color: var(--grey-500);
}

.container h4{
    position: absolute;
    top: 20rem;
    left: 6rem;
    color: var(--grey-500);
}

@media screen and (max-width: 613px) {
    .container h4{
        position: absolute;
        top: 23rem;
        left: 6rem;
        color: var(--grey-500);
    }
 
}

.btn-secondary{
    position: absolute;
    right: 15rem;
    top: 32rem;
    padding: 0.5rem 1.75rem;
}
.btn-teritiary{
    position: absolute;
    right: 3rem;
    top: 32rem;
    padding: 0.5rem 1.75rem;
}
